body{
background-image: 
    url(file:///C:/Privat/Petch/Petch/Bilder/Hund1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#Seitenbereich {
    width: auto;

}

#eingabeVname{
display: table;
align-self: center;
}

p{
    display: table-row;
    align-items: center;
}

input {   
    display:table-cell;
    
}
label {
    display: table-cell;
}
