body{
background-image: 
   /*url(file:///C:/Privat/Petch/Petch/Bilder/Hund1.jpg); */
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 400px;
    min-height: 600px;
    display: -ms-grid;

}
#Seitenbereich {
    min-width: 600px;
    min-height: 400px;

}

#eingabeEinloggen{
display: table;
padding: 2px;
margin-right: auto;
margin-left: auto;
padding-top: 10px;

}

p{
    display: table-row;
}

input {   
    display:table-cell;    
}
label {
    display: table-cell;
}
